version: "3.9"

services:
  backend:
    build: .
    container_name: split-expense-backend
    ports:
      - "5001:3001"
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build: ./client
    container_name: split-expense-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
